<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
  </head>
  <body>
    <h3>Please sign up</h3>
    <form action="/users" method="post">
      <form action="/users" method="post">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Email" value="<%= @user.email %>">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label>Password Confirmation</label>
          <input type="password" class="form-control" name="password_confirmation" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Sign up</button>
      </form>
    </form>
  </body>
</html>
