<h1>Your links</h1>

<ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
      Tag: <%= link.tags.map(&:name) %>
    </li>
  <% end %>
</ul>
<a href='/links/new'>Add new link</a>
