<h1>Please add the details of your new link:</h1>

<form action='/links' method='post'>
  URL: <input type='text' name='url'>
  Title: <input type='text' name='title'>
  <input type='submit' value='Create link'>
</form>
