<h1>Please add the details of your new link:</h1>

<form action='/links' method='post'>
  URL: <input type='text' name='url'><br>
  Title: <input type='text' name='title'><br>
  Tag: <input type='text' name='tag'><br>
  <input type='submit' value='Create link'>
</form>
